@model IEnumerable<lecturate.Models.Institution>

@{
    ViewBag.Title = "מוסדות לימוד";
}

<div class="pagePlaceWithoutLayout">

    <div class="container">

        <p>
            @Html.ActionLink("הוספת מוסד לימוד", "CreateInstitution")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th style="width: 50%;">
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    אפשרויות מנהל
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditInstitution", new { id = item.InstitutionID }) |
                        @Html.ActionLink("Details", "DetailsInstitution", new { id = item.InstitutionID }) |
                        @Html.ActionLink("Delete", "DeleteInstitution", new { id = item.InstitutionID })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>